*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --backgroundColor: #131114;
    --mainColor: #1c1b2168;
    --mainTextColor: #525252;
    --borderColor: #7af8ff13;
    --titleTextColor: #d8dcdc;
    --headerColor: #1e1c22;
    --headerTextColor: #d8dcdc;
    --footerColor: #131114;
    font-size: larger;
    
}
body{
    background: var(--backgroundColor);
    /* background: url(../img/bg.jpg);
    object-fit: fill; */
    font-family: 'IBM Plex Mono', monospace;
}
h1, h2, h3, h4, h5, h6{
    color: var(--titleTextColor);
}
p{
    color: var(--mainTextColor);
}
a{
    color: #ffffff;
}
a:hover{
    color: var(--titleTextColor)
}
body:first-of-type div:first-of-type a:first-of-type div{
    height: 0px;
    width: 0px;
    visibility: hidden;
}
body:first-of-type div[style]{
    height: 0px;
    width: 0px;
    pointer-events: none;
    cursor: default;
}
stripe-pricing-table{
    width: 100vw !important;
    object-fit: cover;
}













header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 15vh;
    background-color: var(--headerColor);
    /* background: url(../img/bg.jpg); */
    object-fit: fill;
    /* border: var(--borderColor) solid 1px; */
    /* border-radius: 100px; */
    z-index: +9;

}
header img{
    width: 50%;
    align-self: center;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
}
header ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    list-style: none;
}
header ul li a{
    padding: 0 2rem;
    text-decoration: none;
    transition: all 1s;
}
header ul li a:link, header ul li a:visited{
    transition: all 0.5s ease-in-out;
    color: var(--headerTextColor);
    height: 1rem;
    width: 1rem;
}
header ul li a:hover{
    transition: all 0.5s ease-in-out;
    color: var(--titleTextColor);
}
header ul li a:active{
    color: #d1fffc;
}
header ul svg{
    transition: all 0.5s ease-in-out;
    fill: rgb(52, 61, 77);
    padding-right: 1rem;
    height: 2rem;
}
header ul svg:hover{
    transition: all 0.5s ease-in-out;
    fill: #ffffff;
}
header ul svg:active{
    fill: #d1fffc;
}










main{
    width: 100vw;
    height: 110vh;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    /* background: var(--mainColor); */
    margin: 0 auto;
    /* border: var(--borderColor) solid 1px; */
}
#bg{
    background: url(../img/bg.jpg) no-repeat;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    /* border: red solid 2px; */
    margin: 0 auto;
    height: 100vh;
}
.featured{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: solid red 3px; */
}
.featured h1{
    padding: 3rem 0;
}
.featured iframe{
    margin: 0 auto;
    border: solid var(--borderColor) 1px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}
.about h1{
    align-self: flex-start;
    padding-bottom: 2rem;
}
.about svg{
    align-self: flex-start;
    padding-top: 0.2rem;
    padding-right: 5px;
    fill: #3f5352;
}
#location{
    display: flex;
    align-self: flex-start;
    padding-bottom: 2rem;
}
.shoutBoxContainer{
    max-height: 20rem;
    max-width: 50vw;
    margin: 1rem auto;
    background-color: #131114;
}
.crownsPackage{
    background-color: #242228;
    padding: 5rem;
    margin: 0 0.6rem;
    border-radius: 100px;
    border: #353436 solid 1px;
}
.crownsPackage button{
    background-color: #242228;
    padding: 1rem 3rem;
    border-radius: 25px;
    font-size: large;
    color: #ffffff;
}
#packages{
    display: flex;
    flex-direction: row;
}
.bestvalue{
    border: rgb(58, 255, 58) dotted 5px;
}








footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    width: 100%;
    background: var(--footerColor);
    border-radius: 5px;
}
footer p{
    margin: 0 auto;
    color: rgba(76, 76, 76, 0.254);
    font-size: 16px;
}
footer a:link, footer a:visited{
    color: #272628;
    text-decoration: none;
}
.shoutServerText{
    display: none;
}
#discord{
    margin: 0 auto;
    display: flex;
}





@media screen and (max-width: 600px) {
    header ul li a{
        padding: 0 0.8rem;
    }
    header ul{
        padding: 0.5rem;
        background-color: #1311149c;
        border-radius: 20px;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    main{
        width: 100%;
        padding-top: 15vh;
    }
    header img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .flex-games img{
        height: 100%;
        width: 100%;
    }
    .shoutBoxContainer{
        max-height: 15rem;
        max-width: 80%;
    }
    header a{
        max-width: 40%;
        max-height: -500px;
    }
}